/*
* THIS IS ANcore!
* EXAMPLE CODE !
*/

/* IMPORT */
/*
@import 'variables';berhahq
@import 'mixins';
@import 'shared';
*/
/*
body {
	font: 100% $font-stack;
	color: $primary-color;
}*/

body{
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 2px;
	font-weight: 500;
}

.container{
	width: 100%;
	text-align: center;
	height: 600px;
	position: fixed;
	z-index: 100;
	color: #fff;
	border-top: 10px;
	display: flex;
	align-content: center;
	align-items: center;
	flex-direction: column;

}

.material-icons{
	padding: 10px 10px;
}

.container span{
		padding: 10px 10px;
}


.immagineCitta{
	z-index: 1;
	//opacity: 0.3;
	//background-color: #000 ;
}

/* MIXINS */
/*
.box {
	@include border-radius(10px);
}*/

/* EXTEND/INHERITANCE */
/*
.success {
	@extend %message-shared;
}*/

/* OPERATORS */
/*
aside[role='complementary'] {
	width: 300px / 960px * 100%;
}*/
