$list_background: rgb(220, 220, 220);

.block2{
	background-color: #fafafa;
	margin-bottom: 79px;

	ul {
		li {
			transition: background 1s;

			&:hover {
				background: $list_background;
				cursor: pointer;
			}
		}
	}
}

.succ_date{
  display: flex;
  justify-content: space-around;
	border: 1px solid #fff;
	font-size: 15px;

	.icon{
		padding-top: 11px;
		font: normal normal normal 20px FontAwesome;
	}
}

.first{
	color: #484747 ;
}

.other{
	color: gray;
}

.succ_date h2{
	padding: 14px 10px;
	display: flex;
	vertical-align: middle;
	width: 25%;
}
