.block2 {
	background-color: #FAFAFA;
	margin-bottom: 79px;

	ul {

		li:first-child{
			color: #484747;
		}

		li {
			transition: background 1s;
			color: $primary-color;

			&:hover {
				@extend %hover-custom-cursor;

				background: $list_background;
			}
		}
	}
}

.succ_date {
	display: flex;
	justify-content: space-around;

	border: 1px solid #FFF;
	font-size: 15px;

	.icon{
		padding-top: 11px;
		font: normal normal normal 20px FontAwesome;
	}

	h2 {
		display: flex;
		padding: 14px 10px;
		justify-content: center;
		flex-direction: row;
		width: 25%;
	}

	.temperatura {
		text-align: right;
	}
}
