.block3{
	position: fixed;
	bottom: 0px;
	color: gray;
	background-color:  #fafafa;
	width: 100%;
}

.blockIn{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	position: relative;
	padding: 15px;
}


.input{
	height: 46px;
	width: 100%;
	padding: 10px 20px;
	border-right: 0px;
	border-left: 1px solid gray;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	border-radius: 2px;
}

.mic{
	width: auto;
	border-left: 0px;
	border-right: 1px solid gray;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	border-radius: 2px;
}

.listaCitta{
	position: absolute;
	bottom:100%;
	background-color: rgb(232, 232, 232);
	padding-left:36px;
	padding-top: 15px;
	width: 100%;

	li{
		padding-bottom: 15px;
	}
}
//
// .mic:hover{
// 	background-color: rgb(198, 185, 190);
// 	opacity: 0.7;
// }
