.container {
	display: flex;
	flex-direction: column;
	position: absolute;

	z-index: 0;
	width: 100%;
	text-align: center;
	color: #FFF;

	.position {
		margin-bottom: 20px;

		.gps {
			font-size: 15px;
		}

		.place{
			font-size: 18px;
		}
	}
}

// IMAGE WITH OVERLAY

.imageContainer {
	position: relative;
	width: 100%;
}

.imageCity {
	position: relative;
	width: 100%;
	height: 70vh;
	z-index: -2;

	object-fit: cover;
}

.imageOverlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 99.7%;

	background: rgba(0, 0, 0, 0.2);
}

.city {
	margin-top: 10px;
	font-size: 50px;
}

.temp {
	font-size: 70px;
}

.description {
	font-weight: bold;
	margin: 10px 0 10px 0;
}

.iconPric {
	font: normal normal normal 100px FontAwesome;
}

/*

sole: 01d 												content: "\f185";
sole-nuvola: 02d 									content: "\f0c2"; chiaro
nuvola: 03d 											content: "\f0c2"; chiaro
nuvole-scure: 04d									content: "\f0c2"; scuro
nuvole-con-pioggia:  09d					content: "\f043"; +++ 		content: "\f0c2";
nuvole-con-sole-con-pioggia: 10d	content: "\f185"; +++		content: "\f043";
nuvole-fulmini: 11d								content: "\f0e7";
neve: 13d													content: "\f2dc";
mist: 50d													content: "\f1be";

*/

// TOP ICONS

.icon-01d:before , .icon-01n:before  {
	content: "\f185";
}

.icon-02d:before ,.icon-02n:before  {
	content: "\f0c2";
}

.icon-03d:before , .icon-03n:before   {
	content: "\f0c2";
}

.icon-04d:before , .icon-04n:before  {
	content: "\f0c2";
}

.icon-09n , .icon-09d {
	&:before  {
		content: "\f043";
	}
}

.icon-10n , .icon-10d {
	&:after  {
		content: "\f043";
	}
}

.icon-11d:before, .icon-11n:before  {
	content: "\f0e7";
}


.icon-13d:before ,.icon-13n:before  {
	content: "\f2dc";
}

.icon-50d:before , .icon-50n:before {
	content: "\f1be";
}

// MEDIA QUERIES

@media screen and (min-width: 375px) {
  .block1 {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
	.container {
		margin-top: 100px;
	}
}
