$list_background: rgb(220, 220, 220);

.block2{
	background-color: #fafafa;
	margin-bottom: 79px;

	ul {

		li:first-child{
			color: #484747 ;
		}
		color: gray;
	}
}

.succ_date{
  display: flex;
  justify-content: space-around;
	border: 1px solid #fff;
	font-size: 15px;
	transition: background 1s;


		&:hover {
			background: $list_background;
			cursor: pointer;
		}


	h2{
		padding: 14px 10px;
		text-align: center;
		vertical-align: middle;
		width: 25%;
	}

	.icon{
		padding-top: 11px;
		font: normal normal normal 20px FontAwesome;
	}
}
