/* VARIABLES */

$font-stack: 'Montserrat', 'Roboto', 'Calibri', Arial, Helvetica, sans-serif;
$primary-color: gray;

$list_background: rgb(220, 220, 220);
$input_background: rgb(232, 232, 232);
$input_background_darker: rgb(212, 212, 212);
$input_text: rgb(128, 128, 128);
