<section class="block1">
	<article class="container">
		<i class="material-icons">brightness_low</i>
		<span class="city"><h1 th:text="${weather.name}"></h1> </span>
		<span><h2 th:text="${weather.weather[0].description}"><br />data</h2></span>
		<span class="temp"><h1 th:text="${weather.main.temp}"></h1> °</span>
	</article>
	<img class= "imageCity" src="http://via.placeholder.com/350x150" th:data-mobile="${images.photos[0].image.mobile}"  th:data-web="${images.photos[0].image.web}"/>
	<p th:text="${weather.dt}></p>
</section>

