<section class="block1">
	<article class="container">
		<h2 th:text="'Your position is: ' + ${position.city} + ', ' + ${position.region_name} + ', ' + ${position.country_name}" class="position"></h2>
		<i th:attr="class='icon-'+${weather.weather[0].icon}"></i>
		<h1 th:text="${weather.name}" class="city"></h1>
		<h2 th:text="${weather.weather[0].description}" class="description"><br /></h2>
		<h2 th:text="${date}"><br /></h2>
		<h1 th:text="${weather.main.temp}+'°'" class="temp"></h1>
	</article>
	<section class="imageContainer">
		<img class= "imageCity" />
		<article class="imageOverlay"></article>
	</section>

</section>
