<section class="block2">
	<ul>
		<li class="succ_date first">
			<h2 th:data-day-1=""> XX Data </h2>
			<i class="material-icons" th:data-icons-1="">brightness_low</i>
			<h2 data-max-1="" data-min-1=""> XX° XX° </h2>
		</li>
		<li class="succ_date other">
			<h2 th:data-day-2=""> XX Data </h2>
			<i class="material-icons" th:data-icons-2="">brightness_low</i>
			<h2 data-max-2="" data-min-2=""> XX° XX° </h2>
		</li>
		<li class="succ_date other">
			<h2 th:data-day-3=""> XX Data </h2>
			<i class="material-icons" th:data-icons-3="">brightness_low</i>
			<h2 data-max-3="" data-min-3=""> XX° XX° </h2>
		</li>
		<li class="succ_date other">
			<h2 th:data-day-4=""> XX Data </h2>
			<i class="material-icons" th:data-icons-4="">brightness_low</i>
			<h2 data-max-4="" data-min-4=""> XX° XX° </h2>
		</li>
		<li class="succ_date other">
			<h2 th:data-day-5=""> XX Data </h2>
			<i class="material-icons" th:data-icons-5="">brightness_low</i>
			<h2 data-max-5="" data-min-5=""> XX° XX° </h2>
		</li>
	</ul>
</section>
