<section class="block2">
	<ul th:attr='data-id=${id}' class= "ul">
	<!--	<li class="succ_date first">
			<h2 class="giorno1"> XX Data </h2>
			<i class="material-icons" th:data-icons-1="">brightness_low</i>
			<h2 data-max-1="" data-min-1="" class="media1"> XX° XX° </h2>
		</li>
		<li class="succ_date other">
			<h2 class="giorno2"> XX Data </h2>
			<i class="material-icons" th:data-icons-2="">brightness_low</i>
			<h2 data-max-2="" data-min-2=""  class="media2"> XX° XX° </h2>
		</li>
		<li class="succ_date other">
			<h2 class="giorno3"> XX Data </h2>
			<i class="material-icons" th:data-icons-3="">brightness_low</i>
			<h2 data-max-3="" data-min-3="" class="media3"> XX° XX° </h2>
		</li>
		<li class="succ_date other">
			<h2 class="giorno4"> XX Data </h2>
			<i class="material-icons" th:data-icons-4="">brightness_low</i>
			<h2 data-max-4="" data-min-4="" class="media4"> XX° XX° </h2>
		</li>
		<li class="succ_date other">
			<h2 class="giorno5"> XX Data </h2>
			<i class="material-icons" th:data-icons-5="">brightness_low</i>
			<h2 data-max-5="" data-min-5="" class="media5"> XX° XX° </h2>
		</li>-->
	</ul>
</section>
